*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
        margin: 10px 50px;
}
.title{
    width: 100%;
    text-align: left;
}
.form_container{
    width: 100%;
    text-align: center;
    margin: 50px 0;
}
form{
    display: inline-block;
    text-align: left;
}
.title h1{
    animation: right_to_left 2s ease ;
}
@keyframes right_to_left{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
a{
    text-decoration: none !important;
}
.select_option{
    color: white;
    background-color: #bc4f83;
    width: 50px;
    cursor: pointer;
}
input.form_button,button.form_button{
    color: white !important;
    background-color: #49a9b7;
    border: 1px solid white;
    padding: 10px;
}
input.form_button,button.form_button:hover{
    background-color: transparent !important;

}
button a{
    color: white;
    text-decoration: none;
}
button a:hover{
    color: white;
}
.result{
    border: 1px solid;
    display: inline-block;
    padding: 10px;
    width: auto;
    background: #bbbbbb4f;
}
